#root {
  margin: 0;
  height: 100%;
  background-color: var(--vscode-menu-background);
}

.line_break {
  border: none;
  border-top: 2px solid;
  opacity: 40%;
  margin: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tree_view {
  overflow-x: scroll;
  flex-grow: 1;
}

.node_error {
  color: var(--vscode-editorError-foreground);
}

.node_icons {
  margin-left: 5px;
  opacity: 40%;
  color: var(--vscode-button-background);
}

.node_icons:hover {
  opacity: 100%;
  color: var(--vscode-button-background);
}

.redux_connect {
  margin-left: 5px;
  color: var(--vscode-button-hoverBackground);
  opacity: 100%;
}

/* ————————————————————–
  Tree core styles
*/
.tree_beginning {
  margin: 1em 1em 1em 2em;
}

.tree_beginning input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.tree_beginning input ~ ul {
  display: none;
}

.tree_beginning input:checked ~ ul {
  display: block;
}

/* ————————————————————–
  Tree rows
*/

.tree_view li {
  white-space: nowrap;
}

.tree_beginning li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1em 1em;
}

.tree_beginning ul li {
  padding: 1em 0 0 1em;
}

.tree_beginning > li:last-child {
  padding-bottom: 0;
}

/* ————————————————————–
  Tree labels
*/
.tree_label {
  position: relative;
  display: inline-block;
}

label.tree_label {
  cursor: pointer;
}

label.tree_label:hover {
  color: #666;
}

/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
  /* background: rgb(220, 28, 28); */
  background: var(--vscode-button-background);
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1.05em;
  height: 1.05em;
  border-radius: 1em;
  content: '+';
  text-align: center;
  line-height: 0.9em;
}

:checked ~ label.tree_label:before {
  content: '–';
}

/* ————————————————————–
  Tree branches
*/
.tree_beginning li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -0.55em;
  display: block;
  width: 0;
  border-left: 1px solid #777;
  content: '';
}

.tree_label:after {
  position: absolute;
  top: 0;
  left: -1.55em;
  display: block;
  height: 0.5em;
  width: 1em;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  border-radius: 0 0 0 0.3em;
  content: '';
}

label.tree_label:after {
  border-bottom: 0;
}

:checked ~ label.tree_label:after {
  border-radius: 0 0.3em 0 0;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 0;
  border-left: 0;
  left: -1.5em;
  bottom: 0;
  top: 0.5em;
  height: auto;
}

.tree_beginning li:last-child:before {
  height: 1em;
  bottom: auto;
}

.tree_beginning > li:last-child:before {
  display: none;
}

.tree_custom {
  display: block;
  background: #eee;
  padding: 1em;
  border-radius: 0.3em;
}

ul,
li {
  list-style-type: none;
}

/* ————————————————————–
  Expandable Menu
*/

.expand-chevron {
  margin-left: 5px;
  margin-right: 5px;
}

.expand-control {
  cursor: pointer;
  font-weight: 500;
}

/* ————————————————————–
  NavBar / Settings Component Styles
*/

#settings,
#navbar {
  margin: 10px 10px;
}

.settings-control {
  margin-top: 10px;
}

.settings-control label {
  display: block;
}

button.inputfile {
  max-width: 250px;
}

button.inputfile[disabled] {
  background-color: var(--vscode-foreground);
}
