body {
    background-color:  #FFF;
}

li {
  list-style-type: none;
}
/* #083C6B; */

.buttons {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 235, 235);
    font-weight: bold;
    border: 3px outset rgb(194, 194, 194);
    transition: 0.01s;
}

.buttons:hover {
    color: rgb(255, 255, 255);
    border: 3px inset rgb(122, 122, 122);
    background-color: rgb(185, 185, 185);
}

#login {
  display: flex;
  justify-content: center;
}

.priceLink {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  font-size: 100px;
}

.priceLink:hover {
  color: yellow;
}

.priceAndTicket {
  color: rgb(255, 0, 0);
}


.primary {
    display: flex;
    justify-content: center;
    color: #1e90ff;
    background-color: rgb(99, 99, 99);
    margin: 100px;
}

#profile {
    border: 3px groove #1e90ff;
    background-color:#1e90ff;
    background-size: 400px;

}

.search {
    border: 0.5rem solid rgb(95, 95, 95);
    margin: 0;
    border-radius: 10px;
    width: 282px;
    color: black;
}

#searchBar {
    width: 200px;

}

#searchButton {
    color:#1e90ff;
    background-color: rgb(71, 71, 71);
    border: solid rgb(46, 46, 46);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 3px solid #c4c4c4;
  background-color: #c4c4c4;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: #c41c1c;
  background-color: inherit;
  float: left;
  border: 4px solid #ffffff;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.9s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #c41c1c;
  background-color: #1e90ff;
  border: 4px solid #1e90ff;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1e90ff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}